# Reading data

Let's explore how we can query the data

In [1]:
import mdb

client = mdb.MDBClient(hostname='localhost',
                       username='postgres',
                       password='',
                       database='mdb')

## Simple get query

The following statement will download the full content of the table `molecule`.

In [2]:
client.get('molecule')

,cid,iupac_name,inchi,metadata,created_on,molecule_type_id,cas,molecule_id,updated_on,smiles
0,297,methane,InChI=1S/CH4/h1H4,{},2020-04-01 09:20:57.534246,4dcfb667-5c9c-4d4f-a123-97cd8bee0513,74-82-8,5762121f-fd3d-4766-bdfd-4396079bb4e6,2020-04-01 09:21:16.419759,C
1,6331,borane,InChI=1S/BH3/h1H3,{},2020-04-01 09:20:41.715173,4dcfb667-5c9c-4d4f-a123-97cd8bee0513,13283-31-3,1338c13b-8ec0-455d-806e-549256c5e2b4,2020-04-01 09:21:16.419759,B
2,None,None,None,{},2020-04-01 09:20:25.475240,4dcfb667-5c9c-4d4f-a123-97cd8bee0513,None,0b0a88df-4d69-4eea-88a9-8c3bceeeeba0,2020-04-01 09:21:16.419759,A
3,None,None,None,{},2020-04-01 09:21:14.152737,47313a9d-1312-4c22-b57c-38b8bf8dd978,None,6da175a0-af06-42b4-95bf-dfb59d87d16e,2020-04-01 09:21:16.182975,ABC

If the table contains a lot of data, this operation could have taken much more time. Luckily there is only one row currently.

## Query for new data

A better way of proceeding would be to ask data that has been added after or at specific timestamp:

In [3]:
from datetime import datetime

rec = client.add_molecule(smiles='DEF',
                          molecule_type_id=client.get_id('molecule_type',
                                                         name='rule_based_molecule'))
client.get('molecule', filters=[client.models.molecule.updated_on >= rec.timestamp])

,cid,iupac_name,inchi,metadata,created_on,molecule_type_id,cas,molecule_id,updated_on,smiles
0,None,None,None,{},2020-04-01 09:23:45.794141,47313a9d-1312-4c22-b57c-38b8bf8dd978,None,2e451d97-3e56-4798-b493-fc3574a7b13f,2020-04-01 09:23:45.794141,DEF

## More advanced examples

More complex queries are possible, it may be possible to get them done through the client, or through `sqlalchemy`. We can also store queries on the database to call them latter on.